
.emotion-box{
    color: #77a6f7;
    font-size: 4.5rem;

    width: 17rem;

    padding: 1rem 0.1rem 0 0.1rem;

    text-align: center;

    display: grid;
    grid-template-columns: 4.7rem 4.7rem 4.7rem;

    justify-content: center;
    align-content: center;

    transition: 0.5s;
    border: 4px solid;
    border-radius: 10px;
}
.emotion-radio{
    margin: 0 0;
    padding: 0 0;
}
.emotion-radio input{
    display: block;
    position: absolute;
    height: 4.8rem; width: 4.8rem;

    z-index: 2;
    opacity: 0;
} 
.emotion-radio>input:checked + .emo-icon{
    color: #008f81;
    transition: 0.5s;
}
.emo-icon{
    cursor: pointer;
}
.emotion-radio > span{
    font-size: 1rem;
}

.reason{
    display: block;
    width: 18rem;
    margin: 0 auto;
    font-size: 1.5rem;

    border: 4px solid #77a6f7;
    border-radius: 10px;
}

.description{
    display: block;
    width: 17rem;
    margin: 0 auto;
    font-size: 1rem;

    border: 4px solid #77a6f7;
    border-radius: 10px;
}

.addnewform{
    display: grid;
    justify-content: center;
    row-gap: 0.8rem;
    margin-top: 2rem;
}
.addnewformbtn{

    
    font-size: 1.5rem;

    padding: 0.3rem;

    border-radius: 8px;
    
    color: #ffffff;
    background: #77a6f7;

    border: none;
   
}
.addnewformbtn:hover{

    color: #ffffff;
    border: none; 

    background: rgb(0,136,122);
    background: -moz-linear-gradient(118deg, rgba(0,136,122,1) 0%, rgba(101,154,246,1) 100%);
    background: -webkit-linear-gradient(118deg, rgba(0,136,122,1) 0%, rgba(101,154,246,1) 100%);
    background: linear-gradient(118deg, rgba(0,136,122,1) 0%, rgba(101,154,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00887a",endColorstr="#659af6",GradientType=1);

}


@media (min-width: 768px) {
    .addnewform{
        
    }
}